.reviews {
	font-family: "Neue Machina", Arial, Helvetica, sans-serif;
}

.reviews_type_critique {
	margin-bottom: 116px;
}

.reviews__slider-critique-title {
	font-family: "Neue Machina", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: -0.01em;
	color: #242424;
	margin: 0;
}

.reviews__slider-critique-pagination {
	display: flex;
	gap: 8px;
}

.reviews__slider-critique-btn-container {
	display: flex;
	gap: 30px;
}

.reviews_type_feedback {
	margin-bottom: 64px;
}

.reviews__slider-feedback-title-container {
	display: grid;
	grid-template-columns: 1fr max-content max-content;
	grid-template-rows: auto;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	grid-template-areas:
		"title pagination arrow"
		"pagination-mobile pagination-mobile pagination-mobile";
	max-width: calc(100% - 362px * 2);
	width: 100%;
	margin: 0 auto 40px;
	text-align: left;
	position: relative;
}

.reviews__slider-critique-title-container {
	display: grid;
	grid-template-columns: 1fr max-content max-content;
	grid-template-rows: auto;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	grid-template-areas:
		"title pagination arrow"
		"pagination-mobile pagination-mobile pagination-mobile";
	max-width: calc(100% - 362px * 2);
	width: 100%;
	margin: 0 auto 40px;
	text-align: left;
	position: relative;
}

.reviews__slider-feedback-title {
	font-family: "Neue Machina", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: -0.01em;
	color: #242424;
	margin: 0;
}

.reviews__slider-critique-title {
	font-family: "Neue Machina", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: -0.01em;
	color: #242424;
	margin: 0;
}

.reviews__slider-feedback-pagination {
	display: flex;
	gap: 8px;
}

.reviews__slider-feedback-btn-container {
	display: flex;
	gap: 30px;
}

.reviews__slider-feedback-slide {
	background-color: #fff;
	padding: 33px 30px 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	transition: all .4s ease-in;

}

.reviews__slider-feedback-slide:hover {
	box-shadow: 0 0 10px #242424;
}

.reviews__slider-feedback-text {
	font-family: "Formular", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.01em;
	font-feature-settings: "ss01"on;
	color: #242424;
	margin: 0;
}

.reviews__slider-feedback-author {
	font-family: "Neue Machina", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.01em;
	color: #242424;
	margin: 0;
}

@media screen and (max-width: 1320px) {
	.reviews__slider-feedback-title-container {
		justify-items: start;
		row-gap: 24px;
	}

	.reviews__slider-critique-title-container {
		justify-items: start;
		row-gap: 24px;
	}

	.reviews__slider-feedback-btn-container {
		grid-area: arrow;
	}

	.reviews_type_critique-btn-container {
		grid-area: arrow;
	}

	@media screen and (max-width: 930px) {
		.reviews_type_critique {
			margin-bottom: 76px;
		}

		.reviews__slider-feedback-title-container {
			max-width: calc(100% - 24px * 2);
			width: 420px;
		}

		.reviews__slider-critique-title-container {
			max-width: calc(100% - 24px * 2);
			width: 420px;
		}

		.reviews__slider-feedback-title {
			font-size: 28px;
			line-height: 32px;
		}

		.reviews__slider-critique-title {
			font-size: 28px;
			line-height: 32px;
		}

		.reviews__slider-feedback-pagination {
			grid-area: pagination-mobile;
			height: 72px;
			display: flex;
			align-items: center;
		}

		.reviews__slider-critique-pagination {
			grid-area: pagination-mobile;
			height: 72px;
			display: flex;
			align-items: center;
		}

		.reviews__slider-feedback-slide {
			background-color: #fff;
			padding: 72px 27px 100px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: border-box;
		}

		.reviews__slider-feedback-text {
			margin-bottom: 56px;
		}
	}
}
