.perfomance {
  display: grid;
  grid-template-columns: 1fr minmax(414px, 720px);
  column-gap: 60px;
  box-sizing: border-box;
}
.perfomance__title {
  grid-column: 1/2;
  margin: 0;
  margin-top: 62px;
  margin-bottom: 37px;
  margin-left: 120px;
  font-family: 'Neue Machina';
  font-size: 72px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -0.01em;
}

.perfomance__subtitle {
  grid-column: 1/2;
  font-family: 'Neue Machina';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin-left: 180px;
  margin-top: 0;
  margin-bottom: 212px;
  max-width: 417px;
}

.perfomance__time {
  grid-column: 1/2;
  margin-left: 124px;
  margin-bottom: 16px;
  font-family: 'Neue Machina';
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.perfomance__button {
  grid-column: 1/2;
  font-family: 'Formular';
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-decoration: none;
  border: 1px solid #242424;
  color: #242424;
  text-transform: uppercase;
  /* align-self: start; */
  width: 240px;
  margin-left: 120px;
  padding: 16px 21px 16px 16px;
  position: relative;
  margin-bottom: 57px;
  box-sizing: border-box;
}

.perfomance__button::after {
  content: '';
  position: absolute;
  width: 21px;
  height: 13px;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../images/icons/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.perfomance__image {
  grid-column: 2/2;
  grid-row: 1/5;
  /* max-width: 720px; */
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  align-self: stretch;
}

.perfomance__intro {
  margin-top: 48px;
  margin-bottom: 68px;
  grid-column: 2/2;
  font-family: 'Neue Machina';
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
  max-width: 591px;
}

.perfomance__duration-block {
  grid-column: 1/2;
  grid-row: 6/6;
  font-family: 'Neue Machina';
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  margin-bottom: 22px;
  margin-left: 184px;
}

.perfomance__duration {
  margin: 0;
  margin-right: 32px;
  width: fit-content;
  position: relative;
}

.perfomance__duration::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 32px;
  top: -50%;
  right: -17px;
  transform: translateY(49%);
  background-color: #242424;
}
.perfomance__age {
  margin: 0;
}

.perfomance__list {
  grid-column: 1/2;
  margin-left: 182px;
  margin-top: 0;
}

.perfomance__item {
  font-family: 'Formular';
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 4px;
}

.perfomance__person {
  font-family: 'Formular';
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.01em;
  margin-left: 29px;
  margin-bottom: 24px;
}

.perfomance__video {
  grid-column: 2/2;
  grid-row: 6/8;
  max-width: 691px;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  /* height= '389'; */
}

.perfomance__text {
  grid-column: 2/2;
  grid-row: 7/8;
  margin-top: 400px;
  max-width: 610px;
}

.perfomance__paragraph {
  font-family: 'Formular';
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.01em;
  margin-top: 0;
  margin-bottom: 18px;
  text-indent: 60px;
}

.perfomance__paragraph:last-child {
  margin-bottom: 0;
}

.perfomance__paragraph:first-child {
  text-indent: 0;
}

.perfomance__card {
  grid-column: 2/2;
}
