.footer {
	display: grid;
	grid-template-columns: 312px 1fr;
	gap: 24px;
	box-sizing: border-box;
	max-width: 1440px;
	padding: 72px 60px 40px;
	font-family: 'Golos-Text', 'Arial', sans-serif;
	background-color: #fcfcfc;
}
