.footer {
	font-family: 'Formular', Arial, sans-serif;
	font-size: 14px;
	display: grid;
	grid-template-columns: min-content minmax(min-content, max-content);
	grid-template-rows: repeat(2, auto);
	padding: 42px 0 54px 0;
	row-gap: 53px;
}

.footer__logo {
	margin: 0 82px 0 32px;
	align-self: flex-start;
}

.footer__content {
	display: grid;
	grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
	grid-template-rows: auto auto;
	margin-top: 6px;
}

.footer__location {
	grid-row-start: 2;
	font-style: normal;
	padding-left: 3px;
}

.footer__location-title {
	margin: 0 0 22px 0;
	font-family: 'Neue Machina', Arial, sans-serif;
	font-size: 20px;
}

.footer__address {
	margin: 0;
}

.footer__nav {
	display: flex;
	grid-row-start: 2;
	padding-left: 15px;
	padding-top: 5px;
}

.footer__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer__list:first-child {
	margin-right: 100px;
}

.footer__list:last-child {
	margin-left: 77px;
}

.footer__item {
	margin-bottom: 15px;
	height: 17px;
}

.footer__item:last-child {
	margin-bottom: 0;
}

.footer__link {
	text-decoration: none;
	color: #242424;
}

.footer__copyright {
	grid-column: 2 / 3;
	display: flex;
	justify-content: space-between;
}

.footer__privacy-policy {
	display: flex;
	gap: 32px;
}

.footer__privacy-policy-link {
	text-decoration: none;
	color: #242424;
}

.footer__privacy-policy-copyright {
	margin: 0;
}

.footer__info {
	display: flex;
	justify-content: flex-end;
	margin-right: -23px;
}

.footer__info img {
	width: 27px;
	height: 25px;
}

.footer__info-link  {
	text-decoration: none;
	color: #242424;
	padding-left: 2px;
}

.footer__info-link:nth-of-type(1) {
	max-width: 151px;
}

.footer__info-link:nth-of-type(2)  {
	max-width: 207px;
}

.partners-logo {
	display: flex;
	align-items: center;
	gap: 30px;
	grid-column: 1 / 3;
	margin-bottom: 54px;
}

.partners-logo__title {
	margin: 0;
	max-width: 115px;
	line-height: 17px;
	height: 34px;
}

.partners-logo__logo {
	mix-blend-mode: multiply;
}

.partners-logo__logo:nth-of-type(1) img {
	width: 91px;
}

.partners-logo__logo:nth-of-type(2) img {
	width: 88px;
}


.partners-logo__logo:nth-of-type(3) img {
	width: 68px;
}

.partners-logo__logo:nth-of-type(4) img {
	width: 97px;
}



