.social-networks__icon {
    width: 53px;
    height: 24px;
    font-family: 'Formular', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 14px;
    color: #242424;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    text-decoration: none;
    transition: .5s;
   
    
}

.social-networks__icon:hover {
    opacity: .8;
}