.photo-gallery {
	display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1px 1px;
    padding: 0;
    margin: 0 auto;
}

.photo-gallery__img {
	width: 100%;
	height: 100%;
}
